 h2 {
color: darkblue;
font-style: oblique;
}

.student-list__heading {
    color: darkblue;
    font-style: oblique;
  }
  
  .student-list {
    list-style-type: square;
  }
  
  .green {
    background-color: rgb(19, 160, 31);
  }

  .red {
    background-color: rgb(190, 25, 25);
  }